@font-face {
  font-family: 'decima_nova_probold';
  src: url('~assets/fonts/decima_nova_pro_bold-webfont.woff2') format('woff2'),
  url('~assets/fonts/decima_nova_pro_bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}
@font-face {
  font-family: 'decima_nova_prolight';
  src: url('~assets/fonts/decima_nova_pro_light-webfont.woff2') format('woff2'),
  url('~assets/fonts/decima_nova_pro_light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'decima_nova_proregular';
  src: url('~assets/fonts/decima_nova_pro-webfont.woff2') format('woff2'),
  url('~assets/fonts/decima_nova_pro-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
