@import "constantes";
@import "fonts";

@mixin panel($top:0,$tipo:absolute){
  position:$tipo;
  top:$top;
  left:0;
  width:100%;
  height:100%;
}


@mixin letraNormal($grosor:normal,$tam:1em, $color:black){
  @if($grosor==normal){
    font-family:"decima_nova_proregular",sans-serif;
    font-weight:300;
  }
  @else if($grosor==light){
    font-family:"decima_nova_prolight",sans-serif;
  }
  @else{
    font-family:"decima_nova_probold",sans-serif;
    font-weight:bold;
  }
  font-size:$tam;
  color:$color;
}

@mixin bordeFinoResaltado(){
  border-bottom: 1px solid $colorRojoSalesiano;
}
